Pandas DataFrame 的功能：可用來儲存雙維度的資料。建立 DataFrame 方式有二：
 - 字典
 - 陣列

使用字典(Dictionary)建立 DataFrame：
 - 鍵值(Key)就是Pandas DataFrame的欄位名稱；
 - 值(Value)則是該欄位的資料內容。

使用陣列建立 DataFrame：則只能使用陣列索引，取用內含值。

In [2]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
df = pd.DataFrame(grades)
 
print("使用字典來建立df：")
print(df)
 
print("=====================")
 
grades = [
    ["Mike", 80, 63],
    ["Sherry", 75, 90],
    ["Cindy", 93, 85],
    ["John", 86, 70]
]
new_df = pd.DataFrame(grades)
 
print("使用陣列來建立df：")
print(new_df)

使用字典來建立df：
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=====================
使用陣列來建立df：
        0   1   2
0    Mike  80  63
1  Sherry  75  90
2   Cindy  93  85
3    John  86  70

如果想要客製化Pandas DataFrame的資料索引及欄位名稱，可以分別利用index及columns屬性(Attribute)來達成

In [1]:
import pandas as pd

grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70],
}

df = pd.DataFrame(grades)
df.index = ["s1", "s2", "s3", "s4"]
df.columns = ["student_name", "math_score", "chinese_score"]
print(df)

   student_name  math_score  chinese_score
s1         Mike          80             63
s2       Sherry          75             90
s3        Cindy          93             85
s4         John          86             70

# 取得Pandas DataFrame資料

head()：取得最前面的n筆資料，並且會回傳一個新的Pandas DataFrame資料集

In [1]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
df = pd.DataFrame(grades)
print("原來的df")
print(df)
 
print("=================================")
 
new_df = df.head(2)
print("取得最前面的兩筆資料")
print(new_df)

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
取得最前面的兩筆資料
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90

tail()：取得最後面的n筆資料，並且會回傳一個新的Pandas DataFrame資料集

In [2]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
df = pd.DataFrame(grades)
print("原來的df")
print(df)
 
print("=================================")
 
new_df = df.tail(3)
print("取得最後面的三筆資料")
print(new_df)

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
取得最後面的三筆資料
     name  math  chinese
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70

中括號[]：在中括號中指定「欄位名稱」或「資料索引值」，來取得所需的資料集

In [6]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

In [7]:
print("取得單一欄位資料(型別為DataFrame)")
print(df[["name"]])

取得單一欄位資料(型別為DataFrame)
     name
0    Mike
1  Sherry
2   Cindy
3    John

In [8]:
print("取得多欄位資料(型別為DataFrame)")
print(df[["name", "chinese"]])

取得多欄位資料(型別為DataFrame)
     name  chinese
0    Mike       63
1  Sherry       90
2   Cindy       85
3    John       70

In [9]:
print("取得索引值0~2的資料")
print(df[0:3])

取得索引值0~2的資料
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85

at[資料索引值,欄位名稱]：利用資料索引值及欄位名稱來取得「單一值」

In [10]:
print("原來的df")
print(df)
 
print("=================================")
 
print("利用at()方法取得索引值為1的math欄位資料")
print(df.at[1, "math"])

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
利用at()方法取得索引值為1的math欄位資料
75

iat[資料索引值,欄位順序]：利用資料索引值及欄位順序來取得「單一值」

In [11]:
print("原來的df")
print(df)
 
print("=================================")
 
print("利用iat()方法取得索引值為1的第一個欄位資料")
print(df.iat[1, 0])

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
利用iat()方法取得索引值為1的第一個欄位資料
Sherry

loc[資料索引值,欄位名稱]：利用資料索引值及欄位名稱來取得「資料集」

In [12]:
print("原來的df")
print(df)
 
print("=================================")
 
print("取得資料索引值為1和3的name及chinese欄位資料集")
print(df.loc[[1, 3], ["name", "chinese"]])

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
取得資料索引值為1和3的name及chinese欄位資料集
     name  chinese
1  Sherry       90
3    John       70

iloc[資料索引值,欄位順序]：利用資料索引值及欄位順序來取得「資料集」

In [13]:
print("原來的df")
print(df)
 
print("=================================")
 
print("取得資料索引值為1和3的第一個及第三個欄位資料集")
print(df.iloc[[1, 3], [0, 2]])

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
取得資料索引值為1和3的第一個及第三個欄位資料集
     name  chinese
1  Sherry       90
3    John       70

# 新增Pandas DataFrame資料

In [14]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}

insert()：在指定的欄位位置新增欄位資料

In [15]:
df = pd.DataFrame(grades)
print("原來的df")
print(df)
 
print("=================================")
 
df.insert(2, column="engilsh", value=[88, 72, 74, 98])
print("在第三欄的地方新增一個欄位資料")
print(df)

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
在第三欄的地方新增一個欄位資料
     name  math  engilsh  chinese
0    Mike    80       88       63
1  Sherry    75       72       90
2   Cindy    93       74       85
3    John    86       98       70

append()：新增一筆或一列的資料，透過傳入字典(Dictionary)來指定各欄位的值，並且會回傳一個新的Pandas DataFrame資料集

In [20]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)
print("原來的df")
print(df)
 
print("=================================")
 
new_df = df.append({
    "name": "Henry",
    "math": 60,
    "chinese": 62
}, ignore_index=True)
 
print("新增一筆資料")
print(new_df)

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
新增一筆資料
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
4   Henry    60       62

/var/folders/36/6kwybs_92bj1_x96p67h7q8w0000gp/T/ipykernel_22720/2249785476.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = df.append({

concat()：利用合併多個Pandas DataFrame的方式來新增資料，並且會回傳一個新的Pandas DataFrame資料集

In [21]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df1 = pd.DataFrame(grades)
print("原來的df")
print(df1)
 
print("=================================")
 
df2 = pd.DataFrame({
    "name": ["Henry"],
    "math": [60],
    "chinese": [62]
})
 
new_df = pd.concat([df1, df2], ignore_index=True)
print("合併df來新增資料")
print(new_df)

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
合併df來新增資料
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
4   Henry    60       62

# 修改Pandas DataFrame資料

利用Pandas DataFrame的at[]及iat[]取得所要修改的單一值後，來進行資料內容的修改

In [22]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)
 
print("原來的df")
print(df)
 
print("=================================")
 
df.at[1, "math"] = 100  #修改索引值為1的math欄位資料
df.iat[1, 0] = "Larry"  #修改索引值為1的第一個欄位資料
print("修改後的df")
print(df)

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
修改後的df
    name  math  chinese
0   Mike    80       63
1  Larry   100       90
2  Cindy    93       85
3   John    86       70

# 刪除Pandas DataFrame資料

drop(欄位名稱串列,axis=1)：刪除指定欄位名稱的欄位，並且會回傳一個新的Pandas DataFrame資料集

In [23]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)
print("原來的df")
print(df)
 
print("=================================")
 
new_df = df.drop(["math"], axis=1)
print("刪除math欄位")
print(new_df)

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
刪除math欄位
     name  chinese
0    Mike       63
1  Sherry       90
2   Cindy       85
3    John       70

drop(資料索引串列,axis=0)：刪除指定資料索引的資料，並且會回傳一個新的Pandas DataFrame資料集

In [25]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)
print("原來的df")
print(df)
 
print("=================================")
 
new_df = df.drop([0, 3], axis=0)  # 刪除第一筆及第四筆資料
print("刪除第一筆及第四筆資料")
print(new_df)

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
刪除第一筆及第四筆資料
     name  math  chinese
1  Sherry    75       90
2   Cindy    93       85

dropna()：刪除含有NaN或空值的資料，並且會回傳一個新的Pandas DataFrame資料集

In [28]:
import pandas as pd
import numpy as np
 
grades = {
    "name": ["Mike", "Sherry", np.NaN, "John"],
    "city": ["Taipei", np.NaN, "Kaohsiung", "Taichung"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
 
df = pd.DataFrame(grades)
print("原來的df")
print(df)
 
print("======================================")
 
new_df = df.dropna()
print("刪除空值後的df")
print(new_df)

原來的df
     name       city  math  chinese
0    Mike     Taipei    80       63
1  Sherry        NaN    75       90
2     NaN  Kaohsiung    93       85
3    John   Taichung    86       70
======================================
刪除空值後的df
   name      city  math  chinese
0  Mike    Taipei    80       63
3  John  Taichung    86       70

drop_duplicates()：刪除重複的資料，並且會回傳一個新的Pandas DataFrame資料集

In [29]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Mike", "Cindy", "John"],
    "city": ["Taipei", "Taipei", "Kaohsiung", "Taichung"],
    "math": [80, 80, 93, 86],
    "chinese": [80, 80, 93, 86]
}
 
df = pd.DataFrame(grades)
print("原來的df")
print(df)
 
print("======================================")
 
new_df = df.drop_duplicates()
print("刪除重複值後的df")
print(new_df)

原來的df
    name       city  math  chinese
0   Mike     Taipei    80       80
1   Mike     Taipei    80       80
2  Cindy  Kaohsiung    93       93
3   John   Taichung    86       86
======================================
刪除重複值後的df
    name       city  math  chinese
0   Mike     Taipei    80       80
2  Cindy  Kaohsiung    93       93
3   John   Taichung    86       86

# 篩選Pandas DataFrame資料

利用中括號[]存取欄位來進行資料篩選

In [30]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
df = pd.DataFrame(grades)
 
print("原來的df")
print(df)
print("=================================")
 
print("篩選math大於80的資料集")
print(df[df["math"] > 80])

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
篩選math大於80的資料集
    name  math  chinese
2  Cindy    93       85
3   John    86       70

找出包含特定值的資料集，這時候可以利用Pandas DataFrame的isin()方法(Method)來達成

In [31]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
df = pd.DataFrame(grades)
 
print("原來的df")
print(df)
print("=================================")
 
print("篩選name欄位包含John的資料集")
print(df[df["name"].isin(["John"])])

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
=================================
篩選name欄位包含John的資料集
   name  math  chinese
3  John    86       70

# 排序Pandas DataFrame資料

In [ ]:
sort_index()：依照索引值來進行排序，並且會回傳一個新的Pandas DataFrame資料集

In [32]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
df = pd.DataFrame(grades)
df.index = ["s3", "s1", "s4", "s2"]  # 自訂資料索引值
 
print("原來的df")
print(df)
print("============================")
 
new_df = df.sort_index(ascending=True)
print("遞增排序")
print(new_df)
print("============================")
 
new_df = df.sort_index(ascending=False)
print("遞減排序")
print(new_df)

原來的df
      name  math  chinese
s3    Mike    80       63
s1  Sherry    75       90
s4   Cindy    93       85
s2    John    86       70
============================
遞增排序
      name  math  chinese
s1  Sherry    75       90
s2    John    86       70
s3    Mike    80       63
s4   Cindy    93       85
============================
遞減排序
      name  math  chinese
s4   Cindy    93       85
s3    Mike    80       63
s2    John    86       70
s1  Sherry    75       90

sort_values()：依照欄位內容來進行排序，並且會回傳一個新的Pandas DataFrame資料集

In [ ]:
import pandas as pd

un_mu_dict = {
    'un_code': [ 'a', 'ann', 'ah', 'ahnn', 'ai', 'ainn', 'ak', 'am', 'an', 'ang', 'ap', 'at', 'au', 'auh', 'e', 'enn', 'eh', 'ehnn', 'ek', 'eng', 'i', 'inn', 'ia', 'iann', 'iah', 'iannh', 'iak', 'iam', 'ian', 'iang', 'iap', 'iat', 'iau', 'iaunn', 'iauh', 'ih', 'im', 'in', 'io', 'ioh', 'iok', 'iong', 'ip', 'it', 'iu', 'iunn', 'iunnh', 'm', 'mh', 'ng', 'ngh', 'o', 'onn', 'oo', 'oa', 'oann', 'oah', 'oai', 'oainn', 'oan', 'oang', 'oat', 'oe', 'oeh', 'oh', 'onnh', 'ok', 'om', 'ong', 'u', 'uh', 'ui', 'un', 'ut'], 
    'IPA': [ 'a', 'ã', 'a?', 'ã?', 'ai', 'ãĩ', 'ak̚', 'am', 'an', 'aŋ', 'ap̚', 'at̚', 'aʊ', 'au?', 'e', 'ẽ', 'e?', 'ẽ?', 'ik̚', 'ɪŋ', 'i', 'ĩ', 'ia', 'ĩã', 'ia?', 'iãh', 'iak̚', 'iam', 'ian', 'iaŋ', 'iap̚', 'iat̚', 'iaʊ', 'ĩãũ', 'iau?', 'i?', 'im', 'in', 'io', 'iə?', 'iɔk̚', 'iɔŋ', 'ip̚', 'it̚', 'iu', 'ĩũ', 'iũh', 'm̩', 'm̩h', 'ŋ̍', 'ŋ̍h', 'o', 'ɔ̃', 'ɔ', 'ua', 'ũã', 'ua?', 'uai', 'ũãĩ', 'uan', 'uaŋ', 'uat̚', 'ue', 'ue?', 'ə?', 'ɔ̃?', 'ɔk̚', 'ɔm', 'ɔŋ', 'u', 'u?', 'ui', 'un', 'ut̚'], 
    'sip_ngoo_im': [ '膠', '監', '膠', '監', '皆', '閒', '江', '甘', '干', '江', '甘', '干', '交', '交', '伽', '更', '伽', '更', '經', '經', '居', '梔', '迦', '驚', '迦', '驚', '姜', '兼', '堅', '姜', '兼', '堅', '嬌', '嘄', '嬌', '居', '金', '巾', '茄', '茄', '恭', '恭', '金', '巾', '丩', '牛', '牛', '姆', '姆', '鋼', '鋼', '高', '姑', '沽', '瓜', '官', '瓜', '乖', '閂', '觀', '光', '觀', '檜', '檜', '高', '姑', '公', '箴', '公', '艍', '艍', '規', '君', '君'], 
    'POJ': [ 'a', 'aⁿ', 'ah', 'ahⁿ', 'ai', 'aiⁿ', 'ak', 'am', 'an', 'ang', 'ap', 'at', 'au', 'auh', 'e', 'eⁿ', 'eh', 'ehⁿ', 'ek', 'eng', 'i', 'iⁿ', 'ia', 'iaⁿ', 'iah', 'iahⁿ', 'iak', 'iam', 'ian', 'iang', 'iap', 'iat', 'iau', 'iauⁿ', 'iauh', 'ih', 'im', 'in', 'io', 'ioh', 'iok', 'iong', 'ip', 'it', 'iu', 'iuⁿ', 'iuhⁿ', 'm', 'mh', 'ng', 'ngh', 'o', 'oⁿ', 'o͘', 'oa', 'oaⁿ', 'oah', 'oai', 'oaiⁿ', 'oan', 'oang', 'oat', 'oe', 'oeh', 'oh', 'ohⁿ', 'ok', 'om', 'ong', 'u', 'uh', 'ui', 'un', 'ut'], 
    'TL': [ 'a', 'ann', 'ah', 'annh', 'ai', 'ainn', 'ak', 'am', 'an', 'ang', 'ap', 'ap', 'au', 'auh', 'e', 'enn', 'eh', 'ennh', 'ik', 'ing', 'i', 'inn', 'ia', 'iann', 'iah', 'iannh', 'iak', 'iam', 'ian', 'iang', 'iap', 'iat', 'iau', 'iaunn', 'iauh', 'ih', 'im', 'in', 'io', 'ioh', 'iok', 'iong', 'ip', 'it', 'iu', 'iunn', 'iunnh', 'm', 'mh', 'ng', 'ngh', 'o', 'onn', 'oo', 'ua', 'uann', 'uah', 'uai', 'uainn', 'uan', 'uang', 'uat', 'ue', 'ueh', 'oh', 'onnh', 'ok', 'om', 'ong', 'u', 'uh', 'ui', 'un', 'ut'], 
    'BP': [ 'a', 'na', 'ah', 'nah', 'ai', 'nai', 'ak', 'am', 'an', 'ang', 'ap', 'at', 'ao', 'aoh', 'e', 'ne', 'eh', 'neh', 'ik', 'ing', 'i', 'ni', 'ia', 'nia', 'iah', 'niah', 'iak', 'iam', 'ian', 'iang', 'iap', 'iat', 'iao', 'niao', 'iaoh', 'ih', 'im', 'in', 'io', 'ioh', 'iok', 'iong', 'ip', 'it', 'iu', 'niu', 'niuh', 'm', 'mh', 'ng', 'ngh', 'o', 'noo', 'oo', 'ua', 'nua', 'uah', 'uai', 'nuai', 'uan', 'uang', 'uat', 'ue', 'ueh', 'oh', 'nooh', 'ok', 'om', 'ong', 'u', 'uh', 'ui', 'un', 'ut'], 
    'TPS': [ 'ㄚ', 'ㆩ', 'ㄚㆷ', 'ㆩㆷ', 'ㄞ', 'ㆮ', 'ㄚㆻ', 'ㆰ', 'ㄢ', 'ㄤ', 'ㄚㆴ', 'ㄚㆵ', 'ㄠ', 'ㄠㆷ', 'ㆤ', 'ㆥ', 'ㆤㆷ', 'ㆥㆷ', 'ㄧㆻ', 'ㄧㄥ', 'ㄧ', 'ㆪ', 'ㄧㄚ', 'ㄧㆩ', 'ㄧㄚㆷ', 'ㄧㆩㆷ', 'ㄧㄚㆻ', 'ㄧㆰ', 'ㄧㄢ', 'ㄧㄤ', 'ㄧㄚㆴ', 'ㄧㄚㆵ', 'ㄧㄠ', 'ㄧㆯ', 'ㄧㄠㆷ', 'ㄧㆷ', 'ㄧㆬ', 'ㄧㄣ', 'ㄧㄜ', 'ㄧㄜㆷ', 'ㄧㆦㆻ', 'ㄧㆲ', 'ㄧㆴ', 'ㄧㆵ', 'ㄧㄨ', 'ㄧㆫ', 'ㄧㆫㆷ', 'ㆬ', 'ㆬㆷ', 'ㆭ', 'ㆭㆷ', 'ㄜ', 'ㆧ', 'ㆦ', 'ㄨㄚ', 'ㄨㆩ', 'ㄨㄚㆷ', 'ㄨㄞ', 'ㄨㆮ', 'ㄨㄢ', 'ㄨㄤ', 'ㄨㄚㆵ', 'ㄨㆤ', 'ㄨㆤㆷ', 'ㄜㆷ', 'ㆧㆷ', 'ㆦㆻ', 'ㆱ', 'ㆲ', 'ㄨ', 'ㄨㆷ', 'ㄨㄧ', 'ㄨㄣ', 'ㄨㆵ'], 
}
df_un_bu = pd.DataFrame(un_mu_dict)

# 自 DataFrame 取出，欄標題名為：un_code 的部份，並將之轉換成 list
un_list = df_un_bu["un_code"].values.tolist()

# 以 list 的「索引標籤」，找出「索引編號」 
un = 'am'
idx = un_list.index(un)

print(f'un_list={un_list}')
print(f'idx = {idx}')
print(f'un_list[{idx}] = {un_list[idx]}')

un_list=['a', 'ann', 'ah', 'ahnn', 'ai', 'ainn', 'ak', 'am', 'an', 'ang', 'ap', 'at', 'au', 'auh', 'e', 'enn', 'eh', 'ehnn', 'ek', 'eng', 'i', 'inn', 'ia', 'iann', 'iah', 'iannh', 'iak', 'iam', 'ian', 'iang', 'iap', 'iat', 'iau', 'iaunn', 'iauh', 'ih', 'im', 'in', 'io', 'ioh', 'iok', 'iong', 'ip', 'it', 'iu', 'iunn', 'iunnh', 'm', 'mh', 'ng', 'ngh', 'o', 'onn', 'oo', 'oa', 'oann', 'oah', 'oai', 'oainn', 'oan', 'oang', 'oat', 'oe', 'oeh', 'oh', 'onnh', 'ok', 'om', 'ong', 'u', 'uh', 'ui', 'un', 'ut']
idx = 7
un_list[7] = am

In [29]:
import pandas as pd

siann_bu_dict = {
    'siann_code': [ 'b', 'ch', 'chh', 'g', 'h', 'j', 'k', 'kh', 'l', 'm', 'n', 'ng', 'p', 'ph', 's', 't', 'th'], 
    'IPA': [ 'b', 'ʦ', 'ʦʰ', 'ɡ', 'h', 'ʣ', 'k', 'kʰ', 'l', 'm', 'n', 'ŋ', 'p', 'pʰ', 's', 't', 'tʰ'], 
    'sip_ngoo_im': [ '門', '曾', '出', '語', '喜', '入', '求', '去', '柳', '毛', '耐', '雅', '邊', '頗', '時', '地', '他'], 
    'POJ': [ 'b', 'ch', 'chh', 'g', 'h', 'j', 'k', 'kh', 'l', 'm', 'n', 'ng', 'p', 'ph', 's', 't', ' '], 
    'TL': [ 'b', 'ts', 'tsh', 'g', 'h', 'j', 'k', 'kh', 'l', 'm', 'n', 'ng', 'p', 'ph', 's', 't', 'th'], 
    'BP': [ 'bb', 'z', 'c', 'gg', 'h', 'zz', 'g', 'k', 'l', 'bbn', 'ln', 'ggn', 'b', 'p', 's', 'd', 't'], 
    'TPS': [ 'ㆠ', 'ㄗ', 'ㄘ', 'ㆣ', 'ㄏ', 'ㆡ', 'ㄍ', 'ㄎ', 'ㄌ', 'ㄇ', 'ㄋ', 'ㄫ', 'ㄅ', 'ㄆ', 'ㄙ', 'ㄉ', 'ㄊ'],     
}
df_siann_bu = pd.DataFrame(siann_bu_dict)

# 自 DataFrame 取出，欄標題名為：siann_code 的部份，並將之轉換成 list
siann_list = df_siann_bu["siann_code"].values.tolist()

# 以 list 的「索引標籤」，找出「索引編號」 
siann = 'chh'
idx = siann_list.index(siann)

print(f'siann_list={siann_list}')
print(f'idx = {idx}')
print(f'siann_list[{idx}] = {siann_list[idx]}')

siann_list=['b', 'ch', 'chh', 'g', 'h', 'j', 'k', 'kh', 'l', 'm', 'n', 'ng', 'p', 'ph', 's', 't', 'th']
idx = 2
siann_list[2] = chh

In [33]:
import pandas as pd
 
grades = {
    "name": ["Mike", "Sherry", "Cindy", "John"],
    "math": [80, 75, 93, 86],
    "chinese": [63, 90, 85, 70]
}
df = pd.DataFrame(grades)
 
print("原來的df")
print(df)
print("============================")
 
new_df = df.sort_values(["math"], ascending=True)
print("遞增排序")
print(new_df)
print("============================")
 
new_df = df.sort_values(["math"], ascending=False)
print("遞減排序")
print(new_df)

原來的df
     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
============================
遞增排序
     name  math  chinese
1  Sherry    75       90
0    Mike    80       63
3    John    86       70
2   Cindy    93       85
============================
遞減排序
     name  math  chinese
2   Cindy    93       85
3    John    86       70
0    Mike    80       63
1  Sherry    75       90